/* Fonts*/
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Variebles*/
:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-gray: #EEEEEE;
    --basic-gray-dark: #D7DCDF;
    --basic-gray-dark: #E1E1E1;
    --basic-pink-light: #FB565A;
    --basic-pink-middle: #E74246;
    --basic-pink-dark: #D7373B;
    --basic-green-light: #00CA74;
    --basic-green-middle: #00BC6C;
    --basic-green-dark: #00AA62;
    --basic-yellow-light: #EFC849;
    --basic-yellow-middle: #EAB534;
    --basic-yellow-dark: #E5A722;
}



/*Global*/
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
    min-width: 1200px;

}

.page-body {
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", "Arial", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img {
    display: block;
}












/*HEADER*/

.wrapper {

    background-color: var(--basic-gray);
}

.main-header {
    display: grid;
    grid-template-columns: min-content min-content 115px;
    gap: 200px;
    width: 1160px;
    padding-top: 49px;
    margin: auto;
    background-color: var(--basic-gray);
}

.main-nav {
    display: flex;
    
}

.main-logo {
    padding-bottom: 6px;
    
}
.main-nav div{
    padding-right: 47px;
   
}

.main-header .link {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    color: var(--basic-black);
    align-items: center;
    padding-bottom: 13px;
}


.main-header .link:not(.main-logo) {
    display: flex;
    padding-top: 26px;
}

.main-cart {
    position: relative;
    justify-content: end; 
   
}
.main-cart::before{
    content: url(../img/cart.svg);
    display: block;
    position: absolute;
    left: 1px;    
}















/*MAIN*/

.main-content {
    display: grid;
    grid-template-rows: min-content auto auto auto;
    margin-bottom: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.slides-holder .button {
    width: 240px;
    height: 50px;
    border-radius: 3px;
    margin-top: 38px;
    color: var(--basic-white);
    background-color: var(--basic-pink-light);
}

.servicies .button {
    width: 160px;
    height: 50px;
    margin-top: 32px;
    border-radius: 3px;
    color: var(--basic-white);
}

.web-sites .button {
    background-color: var(--basic-pink-light);
}

.adds .button {
    background-color: var(--basic-green-light);
}

.presentations .button {
    background-color: var(--basic-yellow-light);
}

.customers-link .img {
    opacity: 20%;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--basic-gray-dark);
}

.header-size-45-64 {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    margin-top: 0px;
    margin-bottom: -6px;
}



.kind-of-jobs li{
    position: relative;
    padding-left: 37px;
}
.kind-of-jobs li::before{
   content: ""; 
   position: absolute;
   width: 25px;
   height: 2px;
   left: 0px;
   top: 11px;
   background-color: var(--basic-pink-light);
}










/*   SLIDES-HOLDER   */

.slides-holder {
    position: relative;
}

.slide {
    display: grid;
    grid-template-columns: auto min-content;
    width: 1160px;
    margin: auto;
    background-color: var(--basic-gray);
}

.slide-text {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 1;

}

.slide-header {
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    padding-top: 78px;
    padding-bottom: 0px;
    margin: 0;
    margin-bottom: 25px;
}

.slide-img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.buttons-control {
    display: flex;   
    position: absolute;
    bottom: 96px;
    left: 50%;
    height: 18px;
    bottom: 96px;
    margin: auto;
    transform: translateX(-44px);
    z-index: 1;
}

.buttons-control button {
    position: relative;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    margin-right: 17px;
    padding: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    
}

.current::before {
    content: "";
    position: absolute;    
    top: 5px;
    left: 5px;
    width: 4px;
    height: 4px;
    border: solid 2px #c1c1c1;
    border-radius: 50%;
}










/*   SERVICIES   */
.servicies {
    display: flex;
    max-width: 1160px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
}

.servicies-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 16px;
}

.web-sites {
    padding-right: 100px;
}

.adds {
    padding-right: 100px;
}

.presentations {
    padding-right: 60px;
}

/*   DESCRIOCION   */
.description {
    display: grid;
    grid-template-columns: auto 360px;
    grid-template-rows: min-content min-content;
    width: 1160px;
    padding-top: 40px;
    margin: auto;

    border-top: solid 1px var(--basic-gray);
}

.description-header {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-top: 34px;
    margin-bottom: 32px;
}

.header-size-16 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 30px;
}

.description .list {
    display: flex;
    justify-content: space-between;
}

.description .list:not(.percent) {
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

/*   CUSTOMERS   */

.customers {
    margin: auto;
    padding-top: 73px;
    padding-bottom: 80px;
}

.customers .list {
    display: flex;
    justify-content: space-around;
    width: 1160px;
    height: 184px;

    align-items: center;
    border-top: solid 2px var(--basic-gray);
    border-bottom: solid 2px var(--basic-gray);
}

/*   FOOTER   */


.footer {
    position: relative;
}

.connection {
    position: absolute;
    top: 54px;
    right: 50%;
    width: 219px;
    height: 208px;
    margin-right: 261px;
    padding: 50px;
    background-color: var(--basic-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.connection-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-bottom: 23px;
}

.map-marker {
    position: absolute;
    top: 18px;
    left: 50%;
}

.connection .button {
    width: 220px;
    height: 50px;
    border-radius: 3px;
    border: none;
    margin-top: 38px;
    color: var(--basic-white);
    background-color: var(--basic-pink-light);
}

.connection .button:hover {
    background-color: var(--basic-pink-middle);
}

.connection .button:active {
    background-color: var(--basic-pink-dark);
}

.footer-bottom {
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 1160px;
    height: 217px;
    margin: auto;
}

.footer .list {
    display: flex;

    align-items: center;
    padding: auto;
}

.sales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-footer {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-top: 7px;
    margin-bottom: -6px;
}

.list li:not(:last-child) {
    margin-right: 9px;
}

















/* POP_UP  */

.pop-up-wrapper{
    position: absolute;
    width: 960px;
    height: 590px;
    left: 50%;
    bottom:180px;
    transform: translateX(-480px);
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px 0px #00000066;
}
.pop-up-wrapper .header-size-45-64{
    position: absolute;
    left: 100px;
    top: 63px;
    width: max-content;
    line-height: 53px; 
}
.close{    
    position: absolute;
    right: 90px;
    top: 78px;
    width: 21px;
    height: 21px;
    background-color: transparent;
}

.close::before{
    content: url(../img/close.svg);
    position: absolute;
    width: 21px;
    height: 21px;
    opacity: 0.3;
}
.close:hover::before{  
    opacity: 1;
}.close:active::before{    
    opacity: 0.1;
}
.pop-up-form .button{ 
    position: absolute;
    left: 0px;
    bottom: 0px;   
    width: 259px;
    height: 50px;
    border-radius: 3px;
    margin-top: 38px;
    color: var(--basic-white);
    background-color: var(--basic-pink-light);    
}
.pop-up-form .button:hover {
    background-color: var(--basic-pink-middle);
}

.pop-up-form .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-pink-dark);
}
.pop-up-form{
   
    position: absolute;
    left: 100px;
    top: 153px;
   
    
    height: 353px;
}
.pop-up-item{
    display: inline-block;
    width: 360px;
    height: 77px;  
    margin-right: 40px;  
    margin-bottom: 34px;
}

.pop-up-item label{
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 9px;
    
}

.pop-up-item input{
    width: 328px;
    height: 18px;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    opacity: 50%;   
    padding: 16px;
    /*** НЕ РАБОТАЕТ ВЫРАВНИВАНИЕ ТЕКСТА ***/
   
}

.pop-up-item textarea{
    
    box-sizing: border-box;
    width: 760px;
    height: 118px;
    margin-bottom: 98px;
    padding: 16px;  
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444; 
    opacity: 50%;   
    resize: none; 
}













/*CONDITIONS*/
.main-logo:hover {
    opacity: 70%;
}

.main-logo:active {
    opacity: 30%;
}

.main-header .link:hover {
    color: var(--basic-pink-light);
}

.main-header .link:active {
    color: var(--basic-black);
    opacity: 30%;
}

.web-sites .button:hover {
    background-color: var(--basic-pink-middle);
}

.web-sites .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-pink-dark);
}

.slides-holder .button:hover {
    background-color: var(--basic-pink-middle);
}

.slides-holder .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-pink-dark);
}

.adds .button:hover {
    background-color: var(--basic-green-middle);
}

.adds .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-green-dark);
}

.presentations .button:hover {
    background-color: var(--basic-yellow-middle);
}

.presentations .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-yellow-dark);
}

.customers-link .img:hover {
    opacity: 100%;
}

.customers-link .img:active {
    opacity: 10%;
}

.social-media:hover {
    background-color: var(--basic-pink-middle);
}

.social-media:active {
    background-color: var(--basic-pink-dark);
}

.social-media:active .social-logo {
    opacity: 30%;
}






















/*   CATALOG   */

.inner-header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 72px;  
    padding-bottom: 108px;  
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    background-color: var(--basic-gray);
   
}
.catalog {
    display: grid;
    width: 1160px;
    grid-template-columns: 260px 760px;
    grid-column-gap: 140px;
    margin: auto;

}

.shop {
    border-bottom: solid 2px var(--basic-pink-light);
}

.templates {
    display: grid;
    grid-template-rows: 133px 1fr min-content;
}

.templates .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}


.buy {
    position: absolute;
    left: 80px;
    bottom: 44px;;
    width: 200px;
    height: 50px;    
    background-color: var(--basic-pink-light);
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;    
    color: var(--basic-white);
}

.buy:hover {
    background-color: var(--basic-pink-middle);
}

.buy:active {
    background-color: var(--basic-pink-dark);
}

.card-top-line {
    opacity: 12%;
}

.card:hover .card-top-line {
    opacity: 100%;
}

.card {
    border-radius: 3px;
    height: 620px;

}

.chosen-card {
    text-align: center;
    width: 360px;
    height: 204px;
    position: relative;
    top: -230px;
    padding-top: 26px;
    padding-bottom: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--basic-gray);
}

.name-card {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.name-card:hover {
    color: var(--basic-pink-light);
}

.name-card:active {
    color: var(--basic-black);
    opacity: 30%;
}

.about-card {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.card .img:not(.card-top-line) {
    box-sizing: border-box;
    border: solid 1px #f2f2f2;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    
}


.choose-hider {
    display: none;
}

.card:hover .choose-hider {
    display: initial;
}

.filter {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter .button {
    width: 260px;
    height: 50px;
    border-radius: 3px;
    border: none;
    margin-top: 38px;
    background-color: var(--basic-gray);
    
}

.sorting {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;

}

.sorting-title {
    display: flex;
    align-items: center;
}

.sort-options {
    display: flex;
}

.sorting .button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;    
    width: max-content;
    padding: 0px;
    margin-right: 25px;
    background-color: inherit;
}

.sorting .button:not(.by-price) {
    opacity: 30%;
}

.sorting .button:hover:not(.by-price) {
    opacity: 60%;
}

.sorting .button:active:not(.by-price) {
    opacity: 100%;
}

.button.arrow {
    justify-self: end;
    padding: 0px;
    margin-right: 0px;
    margin-left: 18px;
}

.arrow.down {
    margin-left: auto;
}

.pages {
    display: flex;
    align-items: center;
    height: 164px;  
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;     
}

.page-number {
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 11px;
    border-radius: 3px;    
    background-color: var(--basic-gray);
    cursor: pointer;
}
.page-number:hover {    
    background-color: #dfdfdf;
    
}
.page-number:active {    
    background-color: #d5d5d5; 
    box-shadow: 0px 3px 0px 0px #0001011A inset;
    color: rgba(0, 0, 0, 0.3);
    
}

.page-number.current {
    outline: solid 3px #DBDBDB;
    outline-offset: -3px;
    border-radius: 3px;
    background-color: var(--basic-white);
}

.page-next {    
    width: 260px;
    height: 50px;
    border-radius: 3px;
    background-color: var(--basic-gray);
}
.page-next:hover {   
    background-color: #dfdfdf; 
    
}
.page-next:active {   
    background-color: #d5d5d5; 
    box-shadow: 0px 3px 0px 0px #0001011A inset;
    color: rgba(0, 0, 0, 0.3);
}
.filter-title{
    padding-top: 55px;
    
}

.filter-item,
.radiobuttons,
.checkboxes {
    margin: 0;
    padding: 0;
    border: none;
  }
 
.filter-item .range-filter {
    width: 260px;
    margin-top: 48px;
  }
  .range-controls {    
    position: relative;
    height: 41px;
    background-color: #f1f1f1;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
  }
  .range-controls .scale {
    height: 2px;
    background: #d7dcde;
  }  
  .range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
  }
  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;  
    cursor: pointer;
 
  }
  .range-controls .toggle-min {
    left: 18px;
  }
  
  .range-controls .toggle-max {
    left: 160px;
  }
  .price-controls {
    display: flex;
    justify-content: space-between;
  }
  
  .price-controls label {
    text-transform: uppercase;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
  }
  .price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    font-family: inherit;
    font-size: inherit;
  }



.radiobuttons .filter-title{
    padding-top: 55px;
}
.checkboxes .filter-title{
    padding-top: 43px;
}
.checkbox-option label,
.radiobutton-option label{
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

 .input-checkbox:not(:checked) + label::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: -36px;
    top: -1px;
    width: 23px;
    height: 23px;      
    border: 2px solid #4d4d4d;    
    border-radius: 3px;
    opacity: 0.4;
  }
    
.input-checkbox:checked + label::after{
    content: url(../img/checkbox.svg);
    position: absolute;
    left: -36px;
    top: -1px;   
    opacity: 0.4;    
  }
  .input-checkbox:hover + label::before{    
    opacity: 1;
  }
    
.input-checkbox:checked:hover + label::after{    
    opacity: 1;    
  }
 






  .input-radio + label::before{
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: -36px;
    top: -1px;
    width: 25px;
    height: 25px;      
    border: 4px solid #4d4d4d;    
    border-radius: 50%;
    opacity: 0.4;
  }
  
  .input-radio:hover + label:before{   
    opacity: 1;
  }
  .input-radio:checked:hover + label::after{   
    opacity: 1;
  }
  
.input-radio:checked + label::after{
    content: "";
    position: absolute;
    left: -28px;
    top: 7px;  
    width: 9px;
    height: 9px;      
    background-color: #4d4d4d;
    border-radius: 50%; 
    opacity: 0.4;    
  }
 








  .radiobuttons .list,
  .checkboxes .list{
      display:flex;
      flex-direction: column;
  }
.checkbox-option,
.radiobutton-option{
    padding-left: 37px;
    margin: 10px 0 10px 0;
}