/* Fonts*/
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");   
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),    
    url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Variebles*/
:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-gray: #EEEEEE;
    --basic-pink: #FB565A;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849; 
}


/*Global*/
.hidden{
    display: none;
}
.page-body {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--basic-white);
}

.link{
    text-decoration: none;
    text-transform: uppercase;
}
.list{
    list-style-type: none;
}

.nav-item .link{
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;    
    color: var(--basic-black);
    align-items: center; 
}

.greeting .button {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 240px;
    height: 50px;
    border-radius: 3px;
    color: var(--basic-white);
    background-color: var(--basic-pink);   
  
}
.servicies .button {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 160px;
    height: 50px;   
    border-radius: 3px;
    color: var(--basic-white);  
}
.web-sites .button {
    background-color: var(--basic-pink);
}
.adds .button {
    background-color: var(--basic-green);
}
.presentations .button {
    background-color: var(--basic-yellow);
}
.header-size-55{
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
}
.header-size-45{
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}
.header-size-45-64{
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
}
.header-size-36{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}
.header-size-24{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}
.header-size-16{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}