/* Fonts*/
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
        url("../fonts/roboto.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
        url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
        url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*Variebles*/
:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-gray: #EEEEEE;
    --basic-gray-dark: #D7DCDF;
    --basic-gray-dark: #E1E1E1;
    --basic-pink-light: #FB565A;
    --basic-pink-middle: #E74246;
    --basic-pink-dark: #D7373B;
    --basic-green-light: #00CA74;
    --basic-green-middle: #00BC6C;
    --basic-green-dark: #00AA62;
    --basic-yellow-light: #EFC849;
    --basic-yellow-middle: #EAB534;
    --basic-yellow-dark: #E5A722;
}








/*Global*/
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
    min-width: 1200px;

}

.page-body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", "Arial", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img {
    display: block;
}












/*HEADER*/

.wrapper {

    background-color: var(--basic-gray);
}

.main-header {
    display: grid;
    grid-template-columns: min-content min-content 1fr;
    width: 1160px;
    padding-top: 49px;
    margin: auto;
    background-color: var(--basic-gray);
}

.main-nav {
    display: grid;
    grid-template-columns: min-content min-content min-content min-content;
    gap: 45px;
}

.main-logo {
    padding-bottom: 6px;
    margin-right: 200px;
}

.main-header .link {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    color: var(--basic-black);
    align-items: center;
}


















/*MAIN*/

.main-content {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.slides-holder .button {
    width: 240px;
    height: 50px;
    border-radius: 3px;
    margin-top: 38px;
    color: var(--basic-white);
    background-color: var(--basic-pink-light);
}

.servicies .button {
    width: 160px;
    height: 50px;
    margin-top: 32px;
    border-radius: 3px;
    color: var(--basic-white);
}

.web-sites .button {
    background-color: var(--basic-pink-light);
}

.adds .button {
    background-color: var(--basic-green-light);
}

.presentations .button {
    background-color: var(--basic-yellow-light);
}

.customers-link .img {
    opacity: 20%;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: var(--basic-gray-dark);
}

.header-size-45-64 {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    margin-top: 0px;
    margin-bottom: -6px;
}

.main-header .link:not(.main-logo) {
    display: flex;
    padding-top: 26px;
}

.main-cart {
    position: relative;
    justify-content: end;
}
.main-cart::before{
    content: url(../img/cart.svg);
    display: block;
    position: absolute;
    left: 41px;
}












/*   SLIDES-HOLDER   */

.slides-holder {
    position: relative;
}

.slide {
    display: grid;
    grid-template-columns: auto min-content;
    width: 1160px;
    margin: auto;
    background-color: var(--basic-gray);
}

.slide-text {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 1;

}

.slide-header {
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    padding-top: 78px;
    padding-bottom: 0px;
    margin: 0;
    margin-bottom: 25px;
}

.slide-img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.buttons-control {
    display: flex;   
    position: absolute;
    bottom: 96px;
    left: 50%;
    height: 18px;
    bottom: 96px;
    margin: auto;
    transform: translateX(-44px);
    z-index: 1;
}

.buttons-control button {
    position: relative;
    box-sizing: content-box;
    width: 18px;
    height: 18px;
    margin-right: 17px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.current::before {
    content: "";
    position: absolute;    
    top: 5px;
    left: 5px;
    width: 4px;
    height: 4px;
    border: solid 2px #c1c1c1;
    border-radius: 50%;
}










/*   SERVICIES   */
.servicies {
    display: flex;
    max-width: 1160px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
}

.servicies-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 16px;
}

.web-sites {
    padding-right: 100px;
}

.adds {
    padding-right: 100px;
}

.presentations {
    padding-right: 60px;
}

/*   DESCRIOCION   */
.description {
    display: grid;
    grid-template-columns: auto 360px;
    grid-template-rows: min-content min-content;
    width: 1160px;
    padding-top: 40px;
    margin: auto;

    border-top: solid 1px var(--basic-gray);
}

.description-header {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-top: 34px;
    margin-bottom: 32px;
}

.header-size-16 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 30px;
}

.description .list {
    display: flex;
    justify-content: space-between;
}

.description .list:not(.percent) {
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

/*   CUSTOMERS   */

.customers {
    margin: auto;
    padding-top: 73px;
    padding-bottom: 80px;
}

.customers .list {
    display: flex;
    justify-content: space-around;
    width: 1160px;
    height: 184px;

    align-items: center;
    border-top: solid 2px var(--basic-gray);
    border-bottom: solid 2px var(--basic-gray);
}

/*   FOOTER   */


.footer {
    position: relative;
}

.connection {
    position: absolute;
    top: 54px;
    right: 50%;
    width: 219px;
    height: 208px;
    margin-right: 261px;
    padding: 50px;
    background-color: var(--basic-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.connection-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-bottom: 23px;
}

.map-marker {
    position: absolute;
    top: 18px;
    left: 50%;
}

.connection .button {
    width: 220px;
    height: 50px;
    border-radius: 3px;
    border: none;
    margin-top: 38px;
    color: var(--basic-white);
    background-color: var(--basic-pink-light);
}

.connection .button:hover {
    background-color: var(--basic-pink-middle);
}

.connection .button:active {
    background-color: var(--basic-pink-dark);
}

.footer-bottom {
    display: grid;
    grid-template-columns: min-content 1fr;
    width: 1160px;
    height: 217px;
    margin: auto;
}

.footer .list {
    display: flex;

    align-items: center;
    padding: auto;
}

.sales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-footer {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-top: 7px;
    margin-bottom: -6px;
}

.list li:not(:last-child) {
    margin-right: 9px;
}











/*CONDITIONS*/
.main-logo:hover {
    opacity: 70%;
}

.main-logo:active {
    opacity: 30%;
}

.main-header .link:hover {
    color: var(--basic-pink-light);
}

.main-header .link:active {
    color: var(--basic-black);
    opacity: 30%;
}

.web-sites .button:hover {
    background-color: var(--basic-pink-middle);
}

.web-sites .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-pink-dark);
}

.slides-holder .button:hover {
    background-color: var(--basic-pink-middle);
}

.slides-holder .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-pink-dark);
}

.adds .button:hover {
    background-color: var(--basic-green-middle);
}

.adds .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-green-dark);
}

.presentations .button:hover {
    background-color: var(--basic-yellow-middle);
}

.presentations .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: var(--basic-yellow-dark);
}

.customers-link .img:hover {
    opacity: 100%;
}

.customers-link .img:active {
    opacity: 10%;
}

.social-media:hover {
    background-color: var(--basic-pink-middle);
}

.social-media:active {
    background-color: var(--basic-pink-dark);
}

.social-media:active .social-logo {
    opacity: 30%;
}
















/*   CATALOG   */
.inner-page .greeting-header {
    display: flex;
    justify-content: center;
    padding-bottom: 88px;
    margin: 0;
}

.catalog {
    display: grid;
    grid-template-columns: 260px 760px;
    grid-column-gap: 140px;
    margin-left: 140px;
    margin-right: 140px;

}

.shop {
    border-bottom: solid 2px var(--basic-pink-light);
}

.templates {
    display: grid;
    grid-template-rows: 103px 1fr 105px;
}

.templates .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
}

.inner-header {
    padding: 0px 140px 0px 140px;
    background-color: var(--basic-gray);
}

.buy {
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--basic-pink-light);
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 44px;
    color: var(--basic-white);
}

.buy:hover {
    background-color: var(--basic-pink-middle);
}

.buy:active {
    background-color: var(--basic-pink-dark);
}

.card-top-line {
    opacity: 12%;
}

.card:hover .card-top-line {
    opacity: 100%;
}

.card {
    border-radius: 3px;
    height: 620px;

}

.chosen-card {
    text-align: center;
    width: 360px;
    height: 204px;
    position: relative;
    top: -230px;
    padding-top: 26px;
    padding-bottom: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: var(--basic-gray);
}

.name-card {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.name-card:hover {
    color: var(--basic-pink-light);
}

.name-card:active {
    color: var(--basic-black);
    opacity: 30%;
}

.about-card {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.card .img:not(.card-top-line) {
    outline: solid 2px var(--basic-gray-dark);
    outline-offset: -2px;
}

.card .img:not(.card-top-line) {
    border-radius: 3px;
}

.choose-hider {
    display: none;
}

.card:hover .choose-hider {
    display: initial;
}

.filter {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.filter-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter .button {
    width: 260px;
    height: 50px;
    border-radius: 3px;
    border: none;
    margin-top: 38px;
    background-color: var(--basic-gray);
}

.sorting {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;

}

.sorting-title {
    display: flex;
    align-items: center;
}

.sort-options {
    display: flex;
}

.sorting .button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    width: max-content;
    padding: 0px;
    margin-right: 25px;
    background-color: inherit;
}

.sorting .button:not(.by-price) {
    opacity: 30%;
}

.sorting .button:hover:not(.by-price) {
    opacity: 60%;
}

.sorting .button:active:not(.by-price) {
    opacity: 100%;
}

.button.arrow {
    justify-self: end;
    padding: 0px;
    margin-right: 0px;
    margin-left: 18px;
}

.arrow.down {
    margin-left: auto;
}

.pages {
    display: flex;
    align-items: end;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
}

.page-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 11px;
    border-radius: 3px;
    background-color: var(--basic-gray);
}

.page-number.first {
    outline: solid 3px #DBDBDB;
    outline-offset: -3px;
    border-radius: 3px;
    background-color: var(--basic-white);

}

.page-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 50px;
    border-radius: 3px;
    background-color: var(--basic-gray);
}





/*SLIDER*/
.slider-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 80px;
    background-color: var(--basic-gray);
}

.slidecontainer {
    width: 210px;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 2px;
    /* Specified height */
    background: var(--basic-gray-dark);
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 20px;
    /* Set a specific slider handle width */
    height: 20px;
    /* Slider handle height */
    border: solid 8px #FFFFFF;
    background: #ababab;
    /* Green background */
    border-radius: 50%;
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}